= render partial: 'standard_paragraph', locals: { text: "We received your request to change your password. To do this, just click on the link:" }
= link_to "Change password", edit_reset_password_url(@token), style: "font-size: 16px;"
= render partial: 'standard_paragraph', locals: { text: "The link will be valid for 24 hours. If you're not going to change your password just ignore this email" }
